.myfooter{
    margin-top: 50rem;
}
.navbar{
    position: fixed;
    top: 0;
}
.cartData{
    height: 20rem;

}
.back{
    display: flex;
    margin-top: 4rem;
    justify-content: flex-end;
    margin-right: 5rem;
    align-items: center;
    font-size: 1.2rem;
}
.cartData h6{
    margin-left: 3rem;
}
.cartData button{
    margin-left: 3rem;
    margin-top: 4rem;
}
