.myfooter{
    margin-top: 50rem;
}
.navbar{
    position: fixed;
    top: 0;
}
.cartData{
    height: 15rem;
    display: flex

}
.cartData img{
    width: 20%;
}
.back{
    display: flex;
    margin-top: 4rem;
    justify-content: flex-end;
    margin-right: 5rem;
    align-items: center;
    font-size: 1.2rem;
}
.cartData h6{
    margin-left: -6rem;
}


.cartitems{
    margin-top: 3rem;
    height:0;
}
.btn{
    margin-top: 7.9rem;
    margin-left: 9rem;
    width: 6.5rem;
}
.btn1{
    display: flex;
    align-items: center;
    border: none;
    margin-top: 2rem;
    margin-left: 2rem;
    width: 6.5rem;
    padding-left: 1rem;

}