.caraContainer{
    display: flex;
    width: 100%;
    gap:1rem;
}
.footer{
    margin-top: 2rem;
    
}
.caramid{
    margin-left: 8rem;
    
}
@media screen and (max-width:1241px) {
    /* .caraContainer{
        display: flex;
     
    } */
}
